@tailwind base;
@tailwind components;
@tailwind utilities;  
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-left: 20px;
  padding-right: 20px;
  padding-top:20px;
  background: #F8F7F6;
}

/* twa e za supabase auth screen */
.c-bOcPnF-cmFMMs-color-primary {
  background-color: #5B3410 !important;
  font-family: 'Inter' !important;
  font-weight: medium !important;
}

.c-bOcPnF {
  border: none !important;
}

.c-bOcPnF-iwjZXY-color-default {
  border: 1px solid lightgray !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
